<!--<h4>{{welcomeMsg}}</h4>-->
<!--<h4>-->
<!--<span>{{userName}}</span>님 환영합니다.-->
<!--</h4>-->

<mat-card>
  <div class="contents">
    <!--<label for="user-name">사용자 이름: </label>-->
    <mat-input-container>
      <input matInput name="value" placeholder="사용자 이름"
             [(ngModel)]="userName" (ngModelChange)="onChange()">
    </mat-input-container>

    <button mat-raised-button (click)="showWelcomeMsg()">입력</button>
    <span class="welcome-msg">{{welcomeMsg}}</span>
  </div>
</mat-card>

